{% extends 'admin/base_dash.html' %}

{% block content %}

<div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4 text-[#1E4C40] text-center justify-center">Multas <i class="bi bi-cash-coin"></i></h2>
    <div class="bg-white shadow rounded-lg p-4 mb-6 w-full"> 
        <div class="flex justify-between items-end flex-wrap gap-4">
            <button type="button" class=" btn btn-success" style="background-color: #1E4C40; border-color: #1E4C40;" data-bs-toggle="modal" data-bs-target="#modal1">
                Registrar Multa <i class="bi bi-cash-coin"></i>
            </button>
            <form method="GET" action="{{url_for('multa')}}" class="relative w-full max-w-md">
                <i class="bi bi-search absolute right-3 top-1/2 transform -translate-y-1/2 text-[#1E4C40] text-lg"></i>
                <input type="text" name="tipo" placeholder="Tipo de multa" value="{{tipo_buscar}}" 
                class="w-full pr-10 pl-4 py-2 border border-[#1E4C40] rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#1E4C40]"> 
            </form>
        </div>
    </div>    

    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">Registrar Multa <i class="bi bi-cash-coin"></i></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="multaForm" action="{{ url_for('crear_multa') }}" method="post">
                        <div class="row">
                            <input type="hidden" id="pkidmulta" name="pkidmulta">
                            <div class="col-md-6 mb-3">
                                <label class="block text-sm font-medium text-[#1E4C40]" for="text">Fecha</label>
                                <input type="datetime-local" id="fecha" name="fecha"  class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                <p id="error-fecha" class="text-sm text-red-600 mt-1 hidden">
                                    <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                    La fecha es obligatoria.
                                </p>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="block text-sm font-medium text-[#1E4C40]" for="inmueble_id">Inmueble</label>
                                <select name="inmueble_id" id="inmueble_id" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                    {% for inmueble in inmuebles %}
                                        <option value="{{ inmueble.pkidinmueble }}">{{ inmueble.numeroinmueble }}</option>
                                    {% endfor %}    
                                </select>
                                <p id="error-inmueble" class="text-sm text-red-600 mt-1 hidden">
                                    <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                    Debe seleccionar un inmueble.
                                </p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="block text-sm font-medium text-[#1E4C40]" for="tipo">Tipo</label>
                                <select name="tipo" id="tipo"  class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                    <option value="Ruido Excesivo">Ruido Excesivo</option>
                                    <option value="Estacionamiento indebido">Estacionamiento indebido</option>
                                    <option value="Mascota sin correa">Mascota sin correa</option>
                                    <option value="Problemas con los vecinos">Problemas con los vecinos</option>
                                    <option value="Daños a zonas comunes">Daños a zonas comunes</option>
                                    <option value="Problemas con mascotas">Problemas con mascotas</option>
                                    <option value="Inasistencia asamblea">Inasistencia asamblea</option>
                                </select>
                                <p id="error-tipo" class="text-sm text-red-600 mt-1 hidden">
                                    <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                    Tipo de multa inválido.
                                </p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="block text-sm font-medium text-[#1E4C40]" for="valor">Valor</label>
                                <input type="number" name="valor" id="valor" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                <p id="error-valor" class="text-sm text-red-600 mt-1 hidden">
                                    <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                    El valor debe estar entre 50.000 y 250.000.
                                </p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="block text-sm font-medium text-[#1E4C40]" for="trabajador_id">Trabajador</label>
                                <select name="trabajador_id" id="trabajador_id"  class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                    <option value="">Seleccione un Trabajador</option>
                                    {% for trabajador in trabajadores %}
                                        <option value="{{ trabajador.pkidtrabajador }}">{{ trabajador.nombre }}</option>
                                    {% endfor %}  
                                </select>
                                <p id="error-trabajador" class="text-sm text-red-600 mt-1 hidden">
                                    <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                    Debe seleccionar un trabajador.
                                </p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="block text-sm font-medium text-[#1E4C40]" for="fecha_pago">Fecha de pago</label>
                                <input type="datetime-local" name="fecha_pago" id="fecha_pago" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                <p id="error-fecha-pago" class="text-sm text-red-600 mt-1 hidden">
                                    <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                    La fecha de pago no puede ser anterior a la fecha de multa.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="crear_multa" class="btn btn-primary" style="background-color: #1E4C40;">Guardar</button>
                                <button type="button" class="btn btn-success" style="background-color: #a11129;" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="w-full border text-sm shadow-lg rounded-lg">
        <thead>
            <tr class="bg-[#1E4C40] text-white justify-center items-center">
                <th class="border border-gray-300 px-2 py-1 text-center">Fecha</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Inmueble</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Tipo</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Valor</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Trabajador</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Fecha pago</th>
                <th class="border border-gray-300 px-2 py-1 text-center" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody id="multaTable">
            {% for multa in multas %}
            <tr class="hover:bg-gray-100">
                <td class="border border-gray-300 px-4 py-2 text-center">{{multa.fecha.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td class="border border-gray-300 px-4 py-2 text-center">{{multa.inmueble_id }}</td>
                <td class="border border-gray-300 px-4 py-2 text-center">{{multa.tipo}}</td>
                <td class="border border-gray-300 px-4 py-2 text-center">{{multa.valor}}</td>
                <td class="border border-gray-300 px-4 py-2 text-center">{{multa.nombre_trabajador}}</td>
                <td class="border border-gray-300 px-4 py-2 text-center">{{multa.fecha_pago if multa.fecha_pago else ''}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-warning"style="background-color: #1E4C40; border-color: #1E4C40; text-white" data-bs-toggle="modal" data-bs-target="#modal{{multa.pkidmulta}}">
                        <i class="bi bi-cash-coin text-white"></i>
                    </button>
                </td>     
                <td class="border border-gray-300 px-1 py-2 text-center">
                    <a href="{{ url_for('delete_multa', pkidmulta=multa.pkidmulta) }}">
                        <i class="bi bi-eraser-fill text-[#a11129] text-xl"></i>
                    </a>
                </td>
            </tr>
            <div class="modal fade" id="modal{{ multa.pkidmulta }}" tabindex="-1" aria-labelledby="modalMultaLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalLabel1">{{multa.pkidmulta}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('editar_multa', pkidmulta=multa.pkidmulta) }}" method="post" class="form-editar-multa" data-id="{{ multa.pkidmulta }}">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="fecha">Fecha</label>
                                        <input type="datetime-local" id="fecha-editar{{ multa.pkidmulta }}" name="fecha" value="{{ multa.fecha.strftime('%Y-%m-%dT%H:%M') if multa.fecha else '' }}"
                                        class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                        <p id="error-fecha-editar{{ multa.pkidmulta }}" class="text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Debe seleccionar una fecha.
                                        </p>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="inmueble_id">Inmueble</label>
                                        <select name="inmueble_id" id="inmueble-editar{{ multa.pkidmulta }}" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                            {% for inmueble in inmuebles %}
                                                <option value="{{ inmueble.pkidinmueble }}"{% if multa.inmueble_id == inmueble.pkidinmueble %}selected{% endif %}>
                                                    {{ inmueble.numeroinmueble }}
                                                </option>
                                            {% endfor %}   
                                        </select>
                                        <p id="error-inmueble-editar{{ multa.pkidmulta }}" class="text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Debe seleccionar un inmueble.
                                        </p>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="tipo">Tipo</label>
                                        <select name="tipo" id="tipo-editar{{ multa.pkidmulta }}"  class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                            {% set tipos = ["Ruido Excesivo", "Estacionamiento indebido", "Mascota sin correa", 
                                                "Problemas con los vecinos", "Daños a zonas comunes", 
                                                "Problemas con mascotas", "Inasistencia asamblea", "Carro rayado"] %}
                                            {% for tipo_opcion in tipos %}
                                                <option value="{{ tipo_opcion }}"{% if multa.tipo == tipo_opcion %}selected{% endif %}>{{ tipo_opcion }}</option>
                                            {% endfor %}
                                        </select>
                                        <p id="error-tipo-editar{{ multa.pkidmulta }}" class="text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Tipo de multa inválido.
                                        </p>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="valor">Valor</label>
                                        <input type="number" name="valor" id="valor-editar{{ multa.pkidmulta }}" value="{{ multa.valor }}" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                        <p id="error-valor-editar{{ multa.pkidmulta }}" class="text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            El valor debe estar entre 50.000 y 250.000.
                                        </p>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="trabajador_id">Trabajador</label>
                                        <select name="trabajador_id" id="trabajador-editar{{ multa.pkidmulta }}"  class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg w-full">
                                            <option value="">Seleccione un Trabajador</option>
                                            {% for trabajador in trabajadores %}
                                                <option value="{{ trabajador.pkidtrabajador }}"
                                                    {% if trabajador.pkidtrabajador == multa.trabajador_id %}selected{% endif %}>
                                                    {{ trabajador.nombre }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <p id="error-trabajador-editar{{ multa.pkidmulta }}" class="text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Debe seleccionar un trabajador.
                                        </p>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="fecha_pago">Fecha de pago</label>
                                        <input type="datetime-local" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg" name="fecha_pago" id="fecha-pago-editar{{ multa.pkidmulta }}" value="{{ multa.fecha_pago.strftime('%Y-%m-%dT%H:%M') if multa.fecha_pago else '' }}">
                                        <p id="error-fecha-pago-editar{{ multa.pkidmulta }}" class="text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            La fecha de pago debe ser posterior a la fecha de la multa.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" style="background-color: #1E4C40; border-color: #1E4C40;">Guardar <i class="bi bi-floppy-fill"></i></button>
                                        <button type="button" class="btn btn-success" style="background-color: #a11129;" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                                
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}    
        </tbody>
    </table>
    <div class="flex justify-center mt-4">
        <ul class="flex list-none">
            {% if page > 1 %}
            <li>
                <a href="?page={{ page - 1 }}{% if tipo_buscar %}&tipo={{ tipo_buscar }}{% endif %}" 
                   class="px-3 py-1 mx-1 bg-[#1E4C40] text-white rounded hover:bg-gray-300">
                    « 
                </a>
            </li>
            {% endif %}
    
            {% for i in range(1, total_pages + 1) %}
            <li>
                <a href="?page={{ i }}{% if tipo_buscar %}&tipo={{ tipo_buscar }}{% endif %}" 
                   class="px-3 py-1 mx-1 rounded {% if page == i %}bg-[#1E4C40] text-white{% else %}bg-gray-200 text-white hover:bg-gray-300{% endif %}">
                    {{ i }}
                </a>
            </li>
            {% endfor %}
    
            {% if page < total_pages %}
            <li>
                <a href="?page={{ page + 1 }}{% if tipo_buscar %}&tipo={{ tipo_buscar }}{% endif %}" 
                   class="px-3 py-1 mx-1 bg-[#1E4C40] text-white rounded hover:bg-gray-300">
                    »
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/validar_multa.js') }}"></script>
{% endblock %}
