{% extends 'admin/base_dash.html' %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h2 class="text-3xl font-bold mb-4 text-center text-[#1E4C40]">Turnos del Guarda <i class="bi bi-calendar-week"></i></h2>

    <!-- Botón para abrir el modal -->
    <div class="flex justify-end mb-4 text-[#1E4C40]">
        <button type="button" class="bg-[#1E4C40] text-white px-4 py-2 rounded hover:bg-[#16352F]" 
            data-bs-toggle="modal" data-bs-target="#modalTurno">
            Registrar Turno <i class="bi bi-plus-square-dotted"></i>
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalTurno" tabindex="-1" aria-labelledby="modalTurnoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content rounded-xl shadow-lg">
                <form action="{{ url_for('turnos') }}" id="form-turno" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title text-[#1E4C40]">Registrar Turno</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="usuario_id" class="block text-sm font-medium text-[#1E4C40]">Trabajador</label>
                                <select id="usuario_id" name="usuario_id" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                                    <option value="">Selecciona un Trabajador</option>
                                    {% for g in guardas %}
                                        <option value="{{ g.pkiduser }}">{{ g.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="fecha" class="block text-sm font-medium text-[#1E4C40]">Fecha</label>
                                <input type="date" id="fecha" name="fecha" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="hora_inicio" class="block text-sm font-medium text-[#1E4C40]">Hora Inicio</label>
                                <input type="datetime-local" id="hora_inicio" name="hora_inicio" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="hora_fin" class="block text-sm font-medium text-[#1E4C40]">Hora Fin</label>
                                <input type="datetime-local" id="hora_fin" name="hora_fin" class="mt-1 block px-4 py-2 w-full border-[#1E4C40] rounded-md shadow-lg">
                            </div>
                        </div>
                        <div id="error-msg" class="alert alert-danger d-flex align-items-center mt-3 d-none" role="alert">
                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600 me-2"></i>
                            <span id="error-text"></span>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" style="background-color: #1E4C40;"><i class="bi bi-plus-circle-dotted"></i> Registrar</button>
                            <button type="button" class="btn btn-danger" style="background-color: #a11129;" data-bs-dismiss="modal"><i class="bi bi-x-diamond-fill"></i> Cancelar</button>
                        </div>
                    </div>
                </form>
                
            </div>      
        </div>
    </div>

    <div class="modal fade" id="editarTurnoModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editarTurnoForm" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar turno</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <label class="form-label">Fecha</label>
                        <input type="date" name="fecha" id="editFecha" class="form-control">
    
                        <label class="form-label mt-2">Hora inicio</label>
                        <input type="datetime-local" name="hora_inicio" id="editHoraInicio" class="form-control">
    
                        <label class="form-label mt-2">Hora fin</label>
                        <input type="datetime-local" name="hora_fin" id="editHoraFin" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" style="background-color: #1E4C40;">Guardar</button>
                        <button type="button" class="btn btn-danger" style="background-color: #a11129;" data-bs-dismiss="modal"><i class="bi bi-x-diamond-fill"></i> Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Cronograma -->
    
    {% set ns = namespace(fecha_actual=None) %}

    {% for turno in turnos %}
        {% if ns.fecha_actual != turno.fecha %}
            
            {% if not loop.first %}
                </div>
            </div>
            {% endif %}

            <div class="mt-8 items-center">
            <h3 class="text-xl font-bold text-[#1E4C40] mb-2">
                {{ turno.fecha | datetimeformat('%A, %d de %B') | capitalize }}
            </h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% set ns.fecha_actual = turno.fecha %}
        {% endif %}
            <!-- card -->
        <div class="bg-white border-l-4 border-[#1E4C40] p-4 shadow-md rounded-md items-center">
            <h4 class="text-lg font-semibold text-[#1E4C40]">{{ turno.nombre }} <button class="text-[#1E4C40] hover:underline items-end"
                onclick="abrirEditarModal({{ turno.pkidturno }}, '{{ turno.fecha }}', '{{ turno.hora_inicio }}', '{{ turno.hora_fin }}')">
                <i class="bi bi-pencil-fill"></i>
                </button> 
            </h4>
            <p><strong>Inicio:</strong> {{ turno.hora_inicio }}</p>
            <p><strong>Fin:</strong> {{ turno.hora_fin }}</p>   
        </div>
        {% if loop.last %}
            </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<script>
document.getElementById("form-turno").addEventListener("submit", function(event) {
    event.preventDefault(); 
    const usuario = document.getElementById("usuario_id").value;
    const fecha = document.getElementById("fecha").value;
    const inicio = document.getElementById("hora_inicio").value;
    const fin = document.getElementById("hora_fin").value;
    const errorMsg = document.getElementById("error-msg");
    const errorText = document.getElementById("error-text");

    if (!usuario || !fecha || !inicio || !fin) {
        errorText.innerText = "Todos los campos son obligatorios.";
        errorMsg.classList.remove("d-none");
        return;
    }

    if (inicio >= fin) {
        errorText.innerText = "La hora de fin debe ser mayor que la de inicio.";
        errorMsg.classList.remove("d-none");
        return;
    }

    errorMsg.classList.add("d-none");
    this.submit();
});
</script>

<script>
  function abrirEditarModal(id, fecha, horaInicio, horaFin) {
    // Setear valores en los inputs
    document.getElementById("editFecha").value = fecha;
    document.getElementById("editHoraInicio").value = horaInicio;
    document.getElementById("editHoraFin").value = horaFin;

    // Cambiar la acción del form con la ruta dinámica
    document.getElementById("editarTurnoForm").action = `/turnos/${id}/editar`;

    // Abrir modal
    let modal = new bootstrap.Modal(document.getElementById('editarTurnoModal'));
    modal.show();
  }
</script>

<div class="flex justify-center mt-6">
    <nav class="inline-flex space-x-2">
        <!-- Botón anterior -->
        <a href="{{ url_for('turnos', page=page-1) }}" 
           class="px-3 py-1 rounded-lg border border-[#1E4C40] text-[#1E4C40] hover:bg-[#1E4C40] hover:text-white transition 
                  {% if page <= 1 %} opacity-50 pointer-events-none {% endif %}">
            <i class="bi bi-chevron-double-left"></i>
        </a>

        <!-- Números de página -->
        {% for p in range(1, total_pages+1) %}
            <a href="{{ url_for('turnos', page=p) }}"
               class="px-3 py-1 rounded-lg border 
                      {% if p == page %} bg-[#1E4C40] text-white border-[#1E4C40] {% else %} border-[#1E4C40] text-[#1E4C40] hover:bg-[#1E4C40] hover:text-white {% endif %}">
                {{ p }}
            </a>
        {% endfor %}

        <!-- Botón siguiente -->
        <a href="{{ url_for('turnos', page=page+1) }}" 
           class="px-3 py-1 rounded-lg border border-[#1E4C40] text-[#1E4C40] hover:bg-[#1E4C40] hover:text-white transition 
                  {% if page >= total_pages %} opacity-50 pointer-events-none {% endif %}">
            <i class="bi bi-chevron-double-right"></i>
        </a>
    </nav>
</div>

{% endblock %}