{% extends base_template %}

{% block content %}

<div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4 text-[#1E4C40] text-center justify-center">Visitantes <i class="bi bi-person-walking"></i></h2>
    
    <div class="modal fade" id="modall" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg p-3 mb-5">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">Registrar Visitante<i class="bi bi-person-walking"></i></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('crear_visitante') }}" method="post" class="form-visitante">
                        <input type="hidden" id="pkidvisitante" name="pkidvisitante">
                        <div class="col-md-12 mb-3">
                            <label class="block text-sm font-medium text-[#1E4C40]" for="text">Fecha</label>
                            <input type="datetime-local" name="fecha" class="input-fecha mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                            <p class="error-fecha text-sm text-red-600 mt-1 hidden">
                                <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                Seleccione la fecha actual.
                            </p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="block text-sm font-medium text-[#1E4C40]" for="inmueble_id">Inmueble</label>
                            <select name="inmueble_id" class="input-inmueble mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                {% for inmueble in inmuebles %}
                                    <option value="{{inmueble.pkidinmueble}}">{{inmueble.numeroinmueble}}</option>
                                {% endfor %}
                            </select>
                            <p class="error-inmueble text-sm text-red-600 mt-1 hidden">
                                <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                Seleccione un inmueble válido.
                            </p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="block text-sm font-medium text-[#1E4C40]" for="autorizado">¿Autorizado?</label>
                            <select name="autorizado" class="input-autorizado mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                            <p class="error-autorizado text-sm text-red-600 mt-1 hidden">
                                <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                Seleccione una opción.
                            </p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="block text-sm font-medium text-[#1E4C40]" for="text">Nombre</label>
                            <input type="text" name="nombre" class="input-nombre mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                            <p class="error-nombre text-sm text-red-600 mt-1 hidden">
                                <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                El nombre es obligatorio.
                            </p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="block text-sm font-medium text-[#1E4C40]" for="numer">Cedula</label>
                            <input type="number" name="cedula" class="input-cedula mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                            <p class="error-cedula text-sm text-red-600 mt-1 hidden">
                                <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                La cedula es obligatoria.
                            </p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="block text-sm font-medium text-[#1E4C40]" for="ingresa_carro">¿Ingresa Carro?</label>
                            <select name="ingresa_carro" class="input-carro mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                           <p class="error-carro text-sm text-red-600 mt-1 hidden">
                                <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                Seleccione una opción.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="crear_visitante" class="btn btn-primary" style="background-color: #1E4C40;">Guardar</button>
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal" style="background-color: #a11129;">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white shadow rounded-lg p-4 mb-6 w-full"> 
        <div class="flex justify-between items-end flex-wrap gap-4">
            {% if session.get('rol_id') == 3 %}
            <button type="button" class="btn btn-success font-bold" style="background-color: #1E4C40; border-color: #1E4C40;" data-bs-toggle="modal" data-bs-target="#modall">
                Registrar Visitante <i class="bi bi-person-raised-hand"></i>
            </button>
            {% endif %}
            
            <form method="post" action="{{ url_for('visitante') }}" class="relative w-full max-w-md">
                <i class="bi bi-search absolute right-3 top-1/2 transform -translate-y-1/2 text-[#1E4C40] text-lg"></i>
                <input type="text" name="cedula" placeholder="Cédula" value="{{ cedula_buscar }}"
                    class="w-full pr-10 pl-4 py-2 border border-[#1E4C40] rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#1E4C40]">
            </form> 
        </div>
    </div>
    <table class="w-full border text-sm shadow-lg rounded-lg">
        <thead>
            <tr class="bg-[#1E4C40] text-white justify-center items-center">
                <th class="border border-gray-300 px-2 py-1 text-center">Fecha</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Inmueble</th>
                <th class="border border-gray-300 px-2 py-1 text-center">¿Autorizado?</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Nombre</th>
                <th class="border border-gray-300 px-2 py-1 text-center">Cedula</th>
                <th class="border border-gray-300 px-2 py-1 text-center">¿Ingresa Carro?</th>
                {% if session.get('rol_id') != 1 %}
                    <th class="border border-gray-300 px-2 py-1 text-center">Acciones</th>
                {% endif %}    
            </tr>
        </thead>
        <tbody id="visitanteTable">
            {% for visitante in visitantes %}
                <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2 text-center">{{visitante.fecha.strftime('%Y-%m-%d %H:%M%S')}}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">{{visitante.inmueble_id}}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        {{ 'Si' if visitante.autorizado == Si else 'No' }}
                    </td>
                    <td class="border border-gray-300 px-4 py-2 text-center">{{visitante.nombre}}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">{{visitante.cedula}}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        {{ 'Si' if visitante.ingresa_carro == Si else 'No' }}
                    </td>
                    {% if session.get('rol_id') != 1 %}
                        <td class="text-center">
                            <button type="button" class="btn btn-sm"style="background-color: #1E4C40; text-white" data-bs-toggle="modal" data-bs-target="#modal{{visitante.pkidvisitante}}">
                                <i class="bi bi-person-raised-hand text-white"></i> 
                            </button>
                        </td>
                    {% endif %}    
                    <!--<td class="border border-gray-300 px-4 py-2 text-center">
                        <a href="{{ url_for('delete_visitante', pkidvisitante=visitante.pkidvisitante) }}">
                            <i class="bi bi-person-x-fill text-[#a11129] text-xl"></i>
                        </a>
                    </td>-->
                </tr>
                {% if session.get('rol_id') != 1 %}
                <div class="modal fade" id="modal{{visitante.pkidvisitante}}" tabindex="-1" aria-labelledby="modalLabell" aria-hidden="true">
                    <div class="modal-dialog modal-dialog centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="modalLabell">Editar Visitante {{ visitante.pkidvisitante }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('editar_visitante', pkidvisitante=visitante.pkidvisitante) }}" method="post" class="form-visitante">
                                    <div class="col-md-12 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="fecha">Fecha</label>
                                        <input type="datetime-local" name="fecha" value="{{ visitante.fecha }}" class="input-fecha mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                        <p class="error-fecha text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Seleccione la fecha.
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="inmueble_id">Inmueble</label>
                                        <select name="inmueble_id" class="input-inmueble mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                            {% for inmueble in inmuebles %}
                                                <option value="{{ inmueble.pkidinmueble }}" {% if visitante.inmueble_id == inmueble.pkidinmueble %}selected{% endif %}>
                                                    {{ inmueble.numeroinmueble }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <p class="error-inmueble text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Seleccione un inmueble válido.
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="autorizado">¿Autorizado?</label>
                                        <select name="autorizado" class="input-autorizado mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                            <option value="Si"{% if visitante.autorizado == "Si" %}selected{% endif %}>Si</option>
                                            <option value="No"{% if visitante.autorizado == "No" %}selected{% endif %}>No</option>
                                        </select>
                                        <p class="error-autorizado text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Seleccione una opción.
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="nombre">Nombre</label>
                                        <input type="text" name="nombre" value="{{ visitante.nombre }}" class="input-nombre mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                        <p class="error-nombre text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            El nombre es obligatorio.
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="cedula">Cédula</label>
                                        <input type="number" name="cedula" value="{{ visitante.cedula }}" class="input-cedula mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                        <p class="error-cedula text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            La cedula es obligatoria.
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="block text-sm font-medium text-[#1E4C40]" for="ingresa_carro">¿Ingresa Carro?</label>
                                        <select name="ingresa_carro" class="input-carro mt-1 block px-4 py-2 w-full border rounded-md shadow-lg focus:ring-[#1E4C40] focus:border-[#1E4C40] border-gray-300">
                                            <option value="Si"{% if visitante.ingresa_carro == "Si" %}selected{% endif %}>Si</option>
                                            <option value="No"{% if visitante.ingresa_carro == "No" %}selected{% endif %}>No</option>
                                        </select>
                                        <p class="error-carro text-sm text-red-600 mt-1 hidden">
                                            <i class="bi bi-exclamation-triangle-fill text-lg text-red-600"></i>
                                            Seleccione una opción.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" style="background-color: #1E4C40; border-color: #1E4C40;">Guardar</button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="flex justify-center mt-4">
        <ul class="flex list-none">
            {% if page > 1%}
                <li>
                    <a href="?page={{ page - 1 }}{% if cedula_buscar %}&cedula={{ cedula_buscar }}{% endif %}"
                        class="px-3 py-1 mx-1 bg-[#1E4C40] text-white rounded hover:bg-gray-300">
                        <i class="bi bi-chevron-double-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for i in range(1, total_pages + 1) %}
                <li>
                    <a href="?page={{ i }}{% if cedula_buscar %}&cedula={{ cedula_buscar }}{% endif %}"
                        class="px-3 py-1 mx-1 rounded {% if page == i %}bg-[#1E4C40] text-white{% else %}bg-gray-200 text-white hover:bg-gray-300{% endif %}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}

            {% if page < total_pages %}
                <li>
                    <a href="?page={{ page + 1 }}{% if cedula_buscar %}&cedula={{ cedula_buscar }}{% endif %}"
                        class="px-3 py-1 mx-1 bg-[#1E4C40] text-white rounded hover:bg-gray-300">
                        <i class="bi bi-chevron-double-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/validar_visitantes.js') }}"></script>
{% endblock %}