{% extends 'residente/dash_residente.html' %}

{% block content %}
<div class="Dashboard px-4 py-6">
    <h1 class="text-3xl font-bold text-[#1E4C40] mb-4 animate-pulse">Bienvenido, {{ nombre }}</h1>
    <h1 class="dashboard-title text-[#1E4C40] font-bold text-4xl flex justify-center items-center gap-6 mb-20">
        Dashboard Residente 
    </h1>
    <div class="flex gap-8 justify-center mb-8">
        <a href="{{ url_for('cartera_residente') }}" class="{% if cartera_pendiente > 0 %} text-yellow-400 animate-pulse {% else %} text-[#1E4C40] {% endif %} text-4xl hover:scale-110 transition">
            <i class="bi bi-wallet2 "></i>
        </a>
        <a href="{{ url_for('multas_residente') }}" class="{% if multas_pendientes > 0 %} animate-pulse text-[#a11129]  {% else %} text-[#a11129] {% endif %} text-4xl hover:scale-110 transition">
            <i class="bi bi-cash-stack "></i>
        </a>
        <a href="{{ url_for('correspondencia_residente') }}" class="{% if tiene_correspondencia >0 %} animate-pulse text-green-500 {% else %} text-[#1E4C40] {% endif %} text-4xl hover:scale-110 transition">
            <i class="bi bi-receipt-cutoff "></i>
        </a>
        <a href="{{ url_for('novedades_residente') }}" class="{% if tiene_novedades > 0%} text-blue-500 animate-pulse {% else %} text-[#1E4C40] {% endif %} text-4xl hover:scale-110 transition">
            <i class="bi bi-exclamation-diamond "></i>
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white rounded-lg p-4 shadow hover:shadow-lg hover:scale-105 transform transition-all duration-300 cursor-pointer">
            <h2 class="text-xl font-bold text-[#1E4C40] mb-2">Cartera <i class="bi bi-wallet"></i></h2>
            <p class="text-[#1E4C40]">Consulta tu estado de cuenta.</p>
        </div>
        <div class="bg-white rounded-lg p-4 shadow hover:shadow-lg hover:scale-105 transform transition-all duration-300 cursor-pointer">
            <h2 class="text-xl font-bold text-[#1E4C40] mb-2">Multas <i class="bi bi-cash-stack"></i></h2>
            <p class="text-[#1E4C40]">Consulta tus multas activas</p>
        </div>
        <div class="bg-white rounded-lg p-4 shadow hover:shadow-lg hover:scale-105 transform transition-all duration-300 cursor-pointer">
            <h2 class="text-xl font-bold text-[#1E4C40] mb-2">Correspondencia <i class="bi bi-box-seam"></i></h2>
            <p class="text-[#1E4C40]">Verifica si tienes correspondencia pendiente.</p>
        </div>
        <div class="bg-white rounded-lg p-4 shadow hover:shadow-lg hover:scale-105 transform transition-all duration-300 cursor-pointer">
            <h2 class="text-xl font-bold text-[#1E4C40] mb-2">Novedades <i class="bi bi-megaphone-fill"></i></h2>
            <p class="text-[#1E4C40]">Infórmate de los últimos comunicados.</p>
        </div>
    </div>
</div>


{% endblock %}