<footer class="bg-[#1E4C40] text-white py-6">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 grap-6 text-center md:text-left">
        <!-- Redes Sociales -->
        <div>
            <h2 class="text-lg font-semibold mb-2">Redes Sociales</h2>
            <ul class="flex justify-center md:justify-start space-x-4">
                <li><a href="https://web.facebook.com/profile.php?id=100092684344485" class="hover:text-white"></a></li>
                <li><a href="https://twitter.com/StelLinesw"class="hover:text-white"></a></li>
                <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA" class="hover:text-white"> </a></li>
            </ul>
        </div>
        <!-- Sitios de Interés -->
         <div>
            <h2 class="text-lg font-semibold mb-2">Sitios de Interés</h2>
            <ul>
                <li><a href="/mapa-sitio" class="hover:underline">Mapa del Sitio</a></li>
            </ul>
         </div>
         <!-- Contacto -->
          <div>
            <h2 class="text-lg font-semibold mb-2">Horarios de Atención</h2>
            <ul>
                <li class="flex justify-center md:justify-start items-center space-x-2 mt-2">
                    <i class="bi bi-envelope-at text-xl"></i>
                    <p><a href="mailito:cquintasdelrecreo1@gmail.com" class="hover:underline">cquintasdelrecreo1@gmail.com</a></p>
                </li>
            </ul>
          </div>
    </div>
    <div class="text-center mt-6 border-t border-white pt-4">
        <p>© 2025 Stel Software - Todos los Derechos Reservados.</p>
    </div>

</footer>