<footer class="bg-[#1E4C40] text-white py-4">
    <div class="container mx-auto px-2 grid grid-cols-1 md:grid-cols-3 grap-4 text-center md:text-left">
        <!-- Redes Sociales -->
        <div>
            <h2 class="text-lg font-semibold mb-3 text-left">Redes Sociales</h2>
            <ul class="flex items-center justify-center md:justify-start space-x-6">
                <li><a href="https://web.facebook.com/profile.php?id=100092684344485" class="text-white text-2xl"><i class="bi bi-facebook"></i></a></li>
                <li><a href="https://twitter.com/StelLinesw"class="text-white text-2xl"><i class="bi bi-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA" class="text-white text-2xl"><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
        <!-- Sitios de Interés -->
        <div>
            <h2 class="text-lg font-semibold mb-3 text-left">Sitios de Interés</h2>
            <ul class="flex flex-col items-center md:items-start">
                <li class="flex items-center space-x-4"> 
                    <i class="bi bi-compass-fill text-2xl"></i>
                    <a href="/mapa-sitio" class="font-semibold hover:underline">Mapa del Sitio</a>
                </li>
            </ul>
        </div>
         <!-- Contacto -->
          <div>
            <h2 class="text-lg font-semibold mb-3 items-center justify-center text-left">Horarios de Atención</h2>
            <ul class="flex flex-col items-center md:items-start text-center">
                <li class="flex items-center justify-center  space-x-4">
                    <i class="bi bi-watch text-2xl"></i>
                    <p>Martes y Jueves 06:00 pm - 08:00 pm</p>
                </li>
                <li class="flex justify-center md:justify-start items-center space-x-2 mt-2">
                    <i class="bi bi-envelope-at text-2xl"></i>
                    <p><a href="mailito:cquintasdelrecreo1@gmail.com" class="hover:underline">cquintasdelrecreo1@gmail.com</a></p>
                </li>
            </ul>
          </div>
    </div>
    <div class="text-center mt-6 border-t border-white pt-4">
        <p>© 2025 Stel Software - Todos los Derechos Reservados.</p>
    </div>

</footer>