<header>
  <nav class="bg-[#1E4C40] text-white p-4 w-full navbar flex justify-between items-center">
      
    <div class=" flex justify-start ">
      <a href="/" class="flex items-center">
          <img src="/static/logoblanco.PNG" alt="LogoSTEL" class="ml-4" style="max-height: 60px; width: auto;"/>
      </a>
    </div>
      
      <ul class="nav-links flex space-x-6">
        <li><a href="/" class="flex items-center hover:underline"><i class="bi bi-house-door-fill text-white text-xl"></i> Inicio</a></li>
        <li><a href="/sobre-nosotros" class="flex items-center hover:underline"><i class="bi bi-file-earmark-person-fill text-white text-xl"></i> Sobre Nosotros</a></li>
        <li><a href="/servicios" class="flex items-center hover:underline"><i class="bi bi-briefcase-fill text-white text-xl"></i> Servicios</a></li>
        <li><a href="/contactenos" class="flex items-center hover:underline"><i class="bi bi-envelope-at-fill text-white text-xl"></i> Contáctanos</a></li>
        <li><a href="/ingresar" class="flex items-center hover:underline"><i class="bi bi-door-closed-fill text-white text-xl"></i> Ingresar</a></li>
    </ul>
  </nav>
</header>
